body {
    --color-values-black: 0, 0, 10;
    --color-values-yellow: 216, 201, 30;
    --color-values-green: 0, 150, 40;
    --color-values-red: 193, 4, 20;
    --color-values-white: 248, 252, 255;
    --color-values-blue: 0, 4, 130;
    /*
        Use of absolute colors should be avoided in most cases in component css files,
        in favour of the color variables named by description/intended use (below)
    */

    /* Used to generate RGBA values */
    --alpha-light-fade: 0.85;
    --alpha-medium-fade: 0.6;
    --alpha-heavy-fade: 0.35;
    --alpha-very-heavy-fade: 0.20;
    --alpha-super-heavy-fade: 0.10;
    --alpha-ultra-heavy-fade: 0.05;

    --font-size-tiny: 11px;
    --font-size-small: 13px;
    --font-size-medium: 18px;

    --font-family-text: "Bahnscrift Light", "Tahoma Light";
    --font-family-header: "Bahnschrift", "Tahoma";

    --color-values-text: var(--color-values-blue);
    --color-values-background: var(--color-values-white);
    --color-values-highlight: var(--color-values-blue);

    --color-values-good: var(--color-values-green);
    --color-values-neutral: var(--color-values-yellow);
    --color-values-bad: var(--color-values-red);

    --color-overlay-light-highlight: rgba(var(--color-values-highlight), var(--alpha-ultra-heavy-fade));
    --color-overlay-medium-highlight: rgba(var(--color-values-highlight), var(--alpha-super-heavy-fade));
    --color-overlay-heavy-highlight: rgba(var(--color-values-highlight), var(--alpha-very-heavy-fade));

    --padding-small: 3px;
    --padding-medium: 6px;
    --padding-large: 12px;

    --margin-small: var(--padding-small);
    --margin-medium: var(--padding-medium);
    --margin-large: var(--padding-large);

    --border-tiny: 1px;
    --border-small: 2px;
    --border-medium: 3px;

    --border-radius-tiny: 1px;
    --border-radius-small: 2px;
    --border-radius-medium: 2px;
}
